* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;

}

body{
  background: #fff;
}




a {
    text-decoration: none;
    color: #fff;
}



li {
    list-style: none;
}


/*-------------------------------------------*/
header {
    height: 66px;
    background: #fff;
}

.logo-container{
  padding-top: 50px;
}


header span {
  font-family: 'Roboto', sans-serif;
  text-align: center;
  font-size: 3em;
  color: #980a4a;
  text-transform: uppercase;
  letter-spacing: 2px;
}


.backClass a{
  border: 1px solid #980a4a;
  padding 5px 10px;
  color: #980a4a;
  font-size: 1em;

}

.fancybox-skin{
  border-radius: 0 !important;
}

/*---------------------------------------------*/
main {
    padding-bottom: 20px;
}

.hidden {
    display: none;
}

main{
    height: 300px;
    margin: 100px;
    color: #fff;
    font-size: 1.3em;
    text-shadow: 2px 2px 50px #25666b;
}

main p {
    padding: 5px 5px;
}
/* ---------------------------- */
.client1{
  height: 300px;
  background: #980b4b;
  padding: 70px 20px;
  font-size: 2.3em;
}




/* ---------------------------- */
.row {
  width: 100%;
}

.row .column {
  float: left;
  text-align: center;
  margin: 10px 1%;
}

.column{
  box-shadow: 2px 2px 10px ##88939e;
}

.row::after {
	content: "";
	display: table;
	clear: both;
}
/*-------------------------------------*/
.small-1 { width: 6.333333333333334%; }
.small-2 { width: 14.666666666666668%; }
.small-3 { width: 23%; }
.small-4 { width: 31.333333333333336%; }
.small-5 { width: 39.66666666666667%; }
.small-6 { width: 48.00000000000001%; }
.small-7 { width: 56.333333333333336%; }
.small-8 { width: 64.66666666666667%; }
.small-9 { width: 73%; }
.small-10 { width: 81.33333333333333%; }
.small-11 { width: 89.66666666666667%; }
.small-12 { width: 98%; }


@media only screen and (min-width: 720px) {
    .medium-1 { width: 6.333333333333334%; }
    .medium-2 { width: 14.666666666666668%; }
    .medium-3 { width: 23%; }
    .medium-4 { width: 31.333333333333336%; }
    .medium-5 { width: 39.66666666666667%; }
    .medium-6 { width: 48.00000000000001%; }
    .medium-7 { width: 56.333333333333336%; }
    .medium-8 { width: 64.66666666666667%; }
    .medium-9 { width: 73%; }
    .medium-10 { width: 81.33333333333333%; }
    .medium-11 { width: 89.66666666666667%; }
    .medium-12 { width: 98%; }
}

@media only screen and (min-width: 1040px) {
    .large-1 { width: 6.333333333333334%; }
    .large-2 { width: 14.666666666666668%; }
    .large-3 { width: 23%; }
    .large-4 { width: 31.333333333333336%; }
    .large-5 { width: 39.66666666666667%; }
    .large-6 { width: 48.00000000000001%; }
    .large-7 { width: 56.333333333333336%; }
    .large-8 { width: 64.66666666666667%; }
    .large-9 { width: 73%; }
    .large-10 { width: 81.33333333333333%; }
    .large-11 { width: 89.66666666666667%; }
    .large-12 { width: 98%; }
}


.visible-for-small-only {
    display: block;
}

.visible-for-medium-and-up {
    display: none;
}

.visible-for-large-and-up {
    display: none;
}

@media only screen and (min-width: 720px) {
    .visible-for-small-only {
        display: none;
    }

    .visible-for-medium-and-up {
        display: block;
    }
}

@media only screen and (min-width: 1040px) {
    .visible-for-large-and-up {
        display: block;
    }
}
